
body {
    background-color: #F1D7E9;
    font-family: Arial, sans-serif;
    color: #5b4033;
    
}

h1 {
    text-align: center;
    color: #3d2b1f;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #4a3327;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #c7a799;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none; /* Убирает маркеры списка */
    display: flex; /* Устанавливает горизонтальное расположение элементов списка */
    margin: 0; /* Убирает отступы вокруг списка */
    padding: 0; /* Убирает внутренние отступы */
}

nav li {
    margin: 0 10px; /* Отступы между элементами списка */
}

nav a {
    text-decoration: none;
    color: #8b5e4e;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #4a8b5e;
}

nav a:visited {
    color: #603333;
}

.me {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}
 p{
    text-align: left;
 }

 ul{
    text-align: left;
 }

 .me p:first-letter {
    color: #8b5e4e;
    font-size: 1.5em;
    font-weight: bold;
}

details {
    max-width: 800px; /* Максимальная ширина блока */
    margin: 20px auto; /* Центрирует блок по горизонтали */
    
}

details summary {
    font-weight: bold; /* Жирный шрифт */
    padding: 10px; /* Отступы */
    background-color: #F1D7E9; 
}


.about {
    padding: 20px; /* Отступ внутри для эстетичности */
    align-items: center; /* Выравнивание по центру по вертикали */
}

.about hr {
    color: #603333;
}
.about p {
    color: #4a3327; /* Цвет текста */
    margin: 0; /* Убирает отступы у абзаца */
}


img[src="img/igr1.png"] {
    border-radius: 50%;
}

a {
    color: #8b5e4e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #4a8b5e;
}

a:visited {
    color: #4b658b;
}

.rukodelie img{
    text-align: center;
    padding: 10px;
}

.vypechka img{
    text-align: center;
    padding: 10px;
}

.turizm img{
    text-align: right;
}

.imeg img{
    text-align: center;
    padding: 10px;
}

body{
    background-color: rgb(200, 210, 213);
}

*{
    font-family: 'Roboto', Arial, sans-serif;
}

h1{
    color: rgb(169, 16, 16);
}

.nav-list{
    font-size: 12px;
}

ul{
    list-style: none;
    padding: 10px;
}

[href="#"]{
    font-weight: bold;
}

.nav-list .link {
    color: rgb(9, 88, 9); 
}

.nav-list .special-link {
    color: rgb(16, 16, 88); 
}

.nav-list .link-yl{
    color: rgb(247, 247, 66); 
}

.content .post h2{
    font-size: 20px;
}

.content .post p{
    font-style: italic;
}


#first-post{
    color: rgb(255, 162, 0);
}

.post{
    color: purple;
}

.sidebar .widget h3{
    color: rgb(235, 112, 186);
}

.color-list .highlighted{
    color: rgb(0, 0, 0);
}

.color-list li:nth-child(1) {
    color: rgb(109, 107, 107);
}

.color-list li:nth-child(2) {
    color: rgb(102, 52, 52);
}

.sidebar .widget-important-widget {
    color: rgb(127, 15, 65);
}

[action="#"] {
    text-align: center;
    padding: 24px;
    padding-bottom: 32px;
}

.form {    
    background-color: rgb(248, 242, 245);
}

.form label {
    color: rgb(142, 137, 139);
    margin-bottom: 8px;
}

.form input[type="text"] {
    color: white; 
    background-color: rgb(82, 56, 56);
    border: 1px solid rgb(209, 174, 174);
    padding: 10px;
    border-radius: 8px;
}

.submit-btn {
    color: rgb(13, 9, 9); 
    background-color: rgb(251, 246, 246); 
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgb(188, 181, 181);
}

