
body {
    background-color: #F1D7E9;
    font-family: Arial, sans-serif;
    color: #5b4033;
    
}

h1 {
    text-align: center;
    color: #3d2b1f;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #4a3327;
    margin-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #c7a799;
    padding: 10px 0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none; /* Убирает маркеры списка */
    display: flex; /* Устанавливает горизонтальное расположение элементов списка */
    margin: 0; /* Убирает отступы вокруг списка */
    padding: 0; /* Убирает внутренние отступы */
}

nav li {
    margin: 0 10px; /* Отступы между элементами списка */
}

nav a {
    text-decoration: none;
    color: #8b5e4e;
    padding: 10px 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #4a8b5e;
}

nav a:visited {
    color: #603333;
}

.me {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}
 p{
    text-align: left;
 }

 ul{
    text-align: left;
 }

 .me p:first-letter {
    color: #8b5e4e;
    font-size: 1.5em;
    font-weight: bold;
}

.summary-heading {
    font-size: 24px; /* Размер шрифта */
    text-align: center; /* Центрирование текста */
    padding: 10px; /* Отступы вокруг текста */
    margin-bottom: 10px; /* Отступ снизу */
}

details {
    margin-bottom: 20px; /* Отступ снизу */
}

