.shap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shap h1 {
    position: absolute;
    color: white;
    font-size: 45px;
    text-align: center;
}

.shap p {
    position: absolute;
    color: white;
    font-size: 15px;
    text-align: center;
    top: 60%;
    transform: translateY(-50%);
}